* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #0c426e;
    padding: 20px;


}

.navbar-brand {
    font-weight: 600;
    font-size: 26px;

}

.navbar a {
    color: white;
}

.nav-link {
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 17px;
    font-weight: 400;
}

.nav-search {
    color: white;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 55px;
}

.hero-container {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 10px;
}

p {
    font-size: 14px;
}

.btn1 {
    height: 45px;
    width: 200px;
    background-color: #0c426e;
    color: white;
    outline: none;
    border-radius: 0;
    border: none;
}

.btn2 {
    height: 45px;
    width: 200px;
 
    background-color: #252525;
    color: white;
    outline: none;
    border-radius: 0;
    border: none;
}

.slider {
    padding-top: 30px;
    width: 600px;


   
}

.img-box img {
    width: 100%;
    height: 100%;
}

.slider-btn {
    border: none;
    outline: none;
    background: black;
    margin-left: 15px;
    font-size: 10px;
    color: white;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    cursor: pointer;

}

.btn:hover {
    background: #111;
}

h2 {
    display: block;
    font-size: 40px;
    font-weight: 600;
}

h2 span.black {
    color: black;
}

h2 span.blue {
    color: #0c426e;
}

.card-title{
    font-size: 27px;
    font-weight: 600;
    color: black;
}
.card-body{
    font-size: 15px;
    font-weight: 400;
    color: black;
}
.card-btn{
    padding: 5px;
    background-color: black;
    font-size: 10px;
    font-weight: 600;
    color: white;
    height: 30px;
    width: 85px;
    outline: none;
    border: 0;
    border-radius: 0;
}
.card{
    border-radius: 0;
    margin-top: 10px;
}
.card-img-top{
    border-radius: 0;
}
.banner{
    background-image: url(/img/banner.jpg);
    background-position: 100% 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}
.ban-head{
    font-size: 30;
    padding: 10px;
    font-weight: 600;
    color: white;
}
.banner-btn{
    height: 45px;
    width: 200px;
    background-color: white;
    color: black;
    outline: none;
    border-radius: 0;
    border: none;
    
}
.carousel{
    height: 100%;
    width: 300px;
    padding-bottom: 50px;
}
.test-img{
    width: 100px;
    height: 125px;

}
.black{
    color: black;
}
.round{
    display:block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: black;
  padding-top: 12px
}

.card{
    width: 280px;
    margin: auto;
   margin-bottom: 10px;
}
.margin-right{
    margin-right: 35px;
}
.footer{
    background-color:black;
    padding-top: 100px;
    
 
}
.footer h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}
.footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: gray !important;
    font-weight: normal;
   margin-bottom: 0;
}
.footer i{
    font-size: 25px;
    color: gray !important;
}
time{
    color: white;
    font-size: 20px;
}
input{
    height: 30px;
    width: 200px;
}

.text{
padding-left: 15px;
}
@media only screen and (min-width: 768px) {
    h1{
        font-size: 80px;
    }
    .carousel{
        width: 700px;

    }
    .card{
        width: 500px;
    }
    input{
        height: 30px;
        width: 180px;
    }
    .test-container{
    
        display: flex;
        align-items: center;
        justify-content: center
     
}
}
@media only screen and (min-width: 1126px) {
.btn2{
    margin-left: 20px;
}
}
@media only screen and (max-width:478px) {
    .btn2{
        margin-top: 5px;
    }  
}
@media only screen and (min-width: 768px) {
  .btn1{
    margin-top: 5px;
  }
  .banner-btn{
    margin: 30px;
  }
}
@media only screen and (max-width: 402px) {
    .btn1{
      margin-top: 5px;
    }
    h2{
        font-size: 35px;
    }
  }
  @media only screen and (min-width: 1126px) {
    .slider{
        margin-left: 15px;
    }}

    @media only screen and (max-width: 330px) {
        h2{
            font-size: 30px;
        }
    }